/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.profilePic{
  display:block;
  margin: 20px auto;
  width:150px;
  height:150px;
  border-radius:50%;
  overflow: hidden;
}

.profilePic >img{
width:100%; height: 100%; transform: scale(4) translate(-2px,16px);
}

.blurify{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  /*transform: scale(1.1);*/
}


#name {
  margin-top: 5px;
  margin-bottom: 12px;
}

#job-position {
  margin-top: 12px;
  margin-bottom: 12px;
}

#connect-btn{
  margin-top: 12px;
  margin-bottom: 12px;
}


